
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
    margin: 0;
    font-family: Lato, sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1140px;   
}
/*TO-DO!!!!!!
Контейнер не принимает значения медиазапроса при ширине экрана менее 500px, оставляет падинги от запроса для 1200px*/
@media (max-width: 500px) { 
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* @media (max-width: 1200px) такой вариант не срабатывает, пришлось писать везде полный диапазон, как ниже{ */
@media (min-width: 500px) and (max-width: 1200px) {
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
}

.main{
    display: flex;
    flex-direction: column; 
    height: 100vh;
}
/* Text related */
.text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


/* Header */
.header{
    background-color: #222222;
    height: 75px; 
    width: 100%; 
    padding-top: 18px;
    padding-bottom: 18px;
    box-sizing: border-box;
}
@media (max-width: 767px) {
    .header{
        height: 74px;
    }
}
 .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }   

.logo_icon   {
    margin-right: 41px;
}

.profile_icon{
    margin-left: 33px;
    margin-right: 34px;
}
@media (max-width: 767px) {
    .profile_icon, 
    .cart_check {
        display: none;
    }
}

@media (max-width: 1599px) {
    .profile_icon{
    margin-left: 25px;
    margin-right: 42px;
    }
}

.cart_check{
    position: relative;
}
.cart_check span{
    display: inline-block;
    position: absolute;
    color: #FFFFFF;
    height: 19px;
    width: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    right: -8px;
    top: -19px;
}
/* Content */
/* Brand Block */
.brand_block{
    position: relative;
}
.brand_wrap{
    display: flex;
    justify-content: center;
    min-height: 764px;
    width: 100%;
    color: #222222;
    /* разобраться min-width: 1600px; */
}
.brand_wrap > div{
    width: 50%;
}
@media (max-width: 767px) {
    .brand_wrap{
        min-height: 343px;
        align-items: center;
    }
}
@media (max-width: 1599px) {
    .brand_wrap{
        min-height: 367.57px;
    }
}
.brand_cover_pic{
    width: 100%;
    display: block;
}
.brand_block_left{
    min-height: inherit;
    /* width: 50%;  - указан через родителя*/
}
@media (max-width: 767px) {   
    .brand_block_left{
        display: none;
    }
}
.brand_block_right{
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    /* width: 50%  - указан через родителя*/
}
@media (max-width: 767px) {   
    .brand_block_right{
        width: 100%;
        flex-grow: 1;
        min-height: inherit;
    }
}

.brand_logo{
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-left: 64px;
    height: 93.1px;
}
@media (max-width: 767px) {
    .brand_logo{
        margin: 0 auto;
        height: 66px;
    }
}
@media (min-width: 768px) and (max-width: 1599px) {
    .brand_logo{
        margin-left: 41px;
        height: 78px;
    }
}
.brand_logo div:first-child {
    font-size: 48px;
    line-height: 44px;
    font-weight: 900;
   
}
.brand_logo div:last-child {
    font-weight: 700;
    font-size: 32px;
    line-height: 62px;
}

@media (max-width: 767px) {
    .brand_logo div:first-child {
        font-size: 38px;
        line-height: 31px;
        font-weight: 700;
    }
    .brand_logo div:last-child {
        font-size: 20px;
        line-height: 48px;
    } 
}
@media (min-width: 768px) and (max-width: 1599px) {
    .brand_logo div:first-child {
    font-size: 44px;
    line-height: 39px;
    font-weight: 700;
    }
    .brand_logo div:last-child {
        font-size: 24px;
        line-height: 53px;
    } 
}
.brand_logo span{
    color: #F16D7F;
}

/* Гамбургер-меню */
/* TO-DO!!!! Как убирать меню при клике на любую область страницы???? */
.brand_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}
.hidden{
    display: none;
}

.menu{
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    height: inherit;
    margin-left: auto;
    padding: 37px 34px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}
.menu_icon:hover{
    height: 25px;
}
.cancel_menu{
    position: absolute;
    right: 16px;
    top: 16px;
}
.cancel_menu:hover{
    height: 16px;
}
.menu_heading{
    font-weight: 700;
    margin-bottom: 24px;
}
.menu_group{
    padding-bottom: 20px;
}
.menu_items_title{
    color: #F16D7F;
}
.menu_items{
    list-style-type: none;
    padding-left: 21px;
}
.menu_items a{
    text-decoration: none;
    color: #6F6E6E;
    line-height: 30px;
    
}

/*Блок предложений Offers */
.offers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    row-gap: 32px;
    column-gap: 30px;
    margin-top: 64px;
}

@media (max-width: 500px){
    .offers{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 247px) 111px;
    }
}
@media (min-width: 500px) and (max-width: 1200px){
    .offers{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(167px, 260px) minmax(116px, 180px);
        /* Если убрать минмаксы, то картинка растягивается по мере расширения экрана. Но с ними высота картинки сразу принимает наксимальное значение (при 768px). Как лучше сделать??? */
        gap: 20px;
    }
}

.offers > div{
    position: relative;
}
.offer_pic{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.offer_accessories{
        grid-column: 1/-1;
}
.long_pic{
    padding-bottom: 0;
    min-height: 111px;
}
@media (max-width: 767px){
    .offer_pic{
    width: 100%;
    }
}

.heading_offers{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.heading_line1{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.heading_line2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

/* Блок Featured Items */
.featured_items{
    margin-top: 96px;
}
@media (max-width: 500px){
    .featured_items{
        margin-top: 64px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (min-width: 500px) and (max-width: 1200px){
    .featured_items{
        margin-top: 154px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.featured_items_heading{
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 6px;
    text-align: center;
}
@media (max-width: 1599px){
    .featured_items_heading{
        margin-bottom: 3.3px;
    }
}
.featured_items_text{
    text-align: center;
    color: #9F9F9F;
}

.capsules{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: 500px){
    .capsules{
        margin-top: 64.7px;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
@media (min-width: 500px) and (max-width: 1599px){
    .capsules{
    margin-top: 73px;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 18px;
    }   
}
.capsule:hover .capsule_pic_dark_overlay{
    display: flex;
}
.capsule_pic{
    width: 100%;
    position: relative;
    display: block;
}
/* Кнопка  корзины при наведении на товар */
.capsule_pic_wrap{
    display: flex;
    position: relative;
}
.capsule_pic_dark_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    align-items: center;
    justify-content: center;
}
.tap_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    border: 1px solid #FFFFFF;
    padding: 10px 14px;
}
.tap_button img{
    height: 24px;
    margin-right: 11px;
}
.tap_button_text{
    color: #FFFFFF;
    font-family: inherit;
}
/* Конец кнопки */

.capsule_description{
    padding: 24px 16px 20px;
    text-align: left;
    background: #F8F8F8;
}
.capsule_title{
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.capsule_text{
    color: #5D5D5D;
    padding-top: 12.65px;
    padding-bottom: 18px;
    font-weight: 300;
}
.capsule_price{
    color: #F16D7F;
}
.browse_button{
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #F26376;
    padding: 15px 39px;
    display: block;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    font-family: inherit;
}

.browse_button:hover{
    background: #F16D7F;
    color: #FFFFFF;
    }


/* Advantages */
.advantages_block{
    margin-top: 95px;
    background: #222224;
    padding-top: 104px;
    padding-bottom: 104px;
    
}
@media (max-width: 500px){
    .advantages_block{
        padding-top: 48px;
        padding-bottom: 81px;
    }
}
@media (min-width: 500px) and (max-width: 1200px){
    .advantages_block{
        margin-top: 64px;
        padding-top: 48px;
        padding-bottom: 64px;
    }
}
.advantages_block .container{
    display: flex;
    align-items: center;
}
@media (max-width: 500px){
    .advantages_block .container{
        justify-content: center;
    }
}
@media (min-width: 500px) and (max-width: 1200px){
    .advantages_block .container{
        justify-content: center;
    }
}
.advantage_wrap{

    display: flex;
    justify-content: space-between;
}
@media (max-width: 500px){
    .advantage_wrap{
        flex-direction: column;
    }
}
@media (min-width: 500px) and (max-width: 1200px){
    .advantage_wrap{
        flex-direction: column;
    }
}
.advantage{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 360px;
}

@media (max-width: 500px){
    .advantage{
        width: 100%;
        padding-bottom: 47px;
        max-width: 348px;
    }
}
@media (min-width: 500px) and (max-width: 1200px){
    .advantage{
        padding-bottom: 48px;   
    }
}
.advantage img{
    height: 33px;
    width: 33px;
}
.adv_title{
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 20px;
    margin-bottom: 15px;
}
@media (max-width: 500px){
    .adv_title{
        margin-top: 27px;
        margin-bottom: 15px;
    }
}

.adv_text{
    font-weight: 300;
    text-align: center;
    color: #FBFBFB;
}

/* Subscribe Блок */

.subscribe_block{
    background-image: url(img/subscribe_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 126px;
    box-sizing: border-box;
    
}
@media (max-width: 500px){
    .subscribe{
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 140px;
    }
}
@media (min-width: 500px) and (max-width: 1100px){
    .subscribe{
        flex-direction: column;
        min-height: 614px;
        padding-top: 64px;
        padding-bottom: 110px;
    }
}
.subscribe_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 360px;
}
@media (max-width: 500px){
    .subscribe_left{
        padding-bottom: 48px;
        max-width: 343px;
        justify-content: center;
        
    }
}
@media (min-width: 500px) and (max-width: 1200px){
    .subscribe_left{
        margin-bottom: 48px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.subscribe_text{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    max-width: 330px;
}
@media (max-width: 500px){
    .subscribe_text{
            font-size: 18px;
            line-height: 22px;
    }
}
.subscribe_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #222224;
    max-width: 356px;
}
.subscrible_title{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    margin-bottom: 32px;
}
.subscrible_title span{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

@media (max-width: 500px){
    .subscrible_title {
        margin-bottom: 22px;
        max-width: 271px;
    }
}
@media (min-width: 500px) and (max-width: 1200px){
    .subscrible_title {
        margin-bottom: 22px;
    }
}
.subscribe_form{
    display: flex;
    height: 49px;
    justify-content: center;
}
@media (max-width: 500px){
    .subscribe_form{
        height: 46.94px;
    }
}
/* TO-DO!!!! Задать формат ввода pattern*/
.input_email{
    height: inherit;
    padding: 6px 21px;
    box-sizing: border-box;
    background: #E1E1E1;
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    font-family: inherit;
    border: none;
    width: 256px;
    
    
}
@media (max-width: 500px){
    .input_email{
        width: 75%;
    }

}
.subscribe_button{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    font-family: inherit;
    background: #F16D7F;
    border: none;
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    padding: 8px 16px;
    height: inherit;
    width: 100px;
}

@media (max-width: 500px){
   .subscribe_button{
        width: 95px;
   } 
}

/* Footer */
.footer{
    background-color: #222224;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box; 
    }
@media (max-width: 500px) {   
    .footer .container{
        height: 143px;
        flex-direction: column;
        padding-top: 43px;
        padding-bottom: 10px;
    }
}

.social_media{
    display: flex;
    width: 148px;
}
@media (max-width: 500px) {  
    .social_media{
        margin-bottom: 40px;
    }
}
.social_media > a{
    width: 32px;
    height: 32px;
    color: black;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.social_media > a:hover{
    background: #F16D7F;
    color: #FFFFFF;
}
.social_media > a:not(:last-child){
    margin-right: 7px;
}
.copyright{
    color: #FBFBFB;
}
@media (max-width: 500px) { 
    .copyright{
        align-self: center;
    }
}
