@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$imgPath: "../img";


$textColorDark: #5E5E5E;
$textColorLight: #6F6E6E;
$textColorCapsule: #5D5D5D;
$textColor1: #4D4D4D;
$pinkColor: #F16D7F;
$pinkColor1: #F26376;
$pinkColor2: #EF5B70;


