@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.browseButton {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F26376;
  padding: 15px 39px;
  display: block;
  border: 1px solid #FF6A6A;
  margin-left: auto;
  margin-right: auto;
  background: none;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.browseButton:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.tap_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border: 1px solid #FFFFFF;
  padding: 10px 14px;
  font-family: inherit;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

.tap_button img {
  height: 24px;
  margin-right: 11px;
}

.tap_button_text {
  color: #FFFFFF;
  font-family: inherit;
}

.buyButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F26376;
  padding: 15px 24px;
  border: 1px solid #FF6A6A;
  background: none;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  height: 48px;
}

.buyButton_hoverIcon {
  display: none;
}

.buyButton:hover {
  background: #F16D7F;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.buyButton:hover .buyButton_cartIconInitial {
  display: none;
}

.buyButton:hover .buyButton_hoverIcon {
  display: block;
}

.buyButton img {
  height: 24px;
  width: 26px;
  margin-right: 23px;
}

.subscribe_button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  font-family: inherit;
  background: #F16D7F;
  border: none;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  padding: 8px 16px;
  height: inherit;
  width: 100px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media (max-width: 500px) {
  .subscribe_button {
    width: 95px;
  }
}

.subscribe_button:hover {
  -webkit-box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.getQuoteButton {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  padding: 9px 14px;
  text-transform: uppercase;
  font-family: inherit;
  text-align: center;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.getQuoteButton:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.b-checkout__button {
  background-color: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  width: 273px;
  height: 50px;
  color: #FFFFFF;
  font-family: inherit;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.b-checkout__button:hover {
  -webkit-box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

@media (max-width: 500px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Text related */
.text, .filter .container .filterLeft, .filter .container .filter_icon, .filter .container .filterRight, .collectionDetails__heading, .collectionDetails__title, .collectionDetails__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.hidden {
  /*Для раскрывающихся меню*/
  display: none;
}

/* Styles for Header */
.header {
  background-color: #222222;
  height: 75px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .header {
    height: 74px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .logo_icon {
  margin-right: 41px;
}

.header .container .header_right img {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header .container .header_right img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.header .container .profile_icon {
  margin-left: 33px;
  margin-right: 34px;
}

@media (max-width: 1599px) {
  .header .container .profile_icon {
    margin-left: 25px;
    margin-right: 42px;
  }
}

@media (max-width: 767px) {
  .header .container .profile_icon,
  .header .container .cart_check {
    display: none;
  }
}

.header .container .cart_check {
  position: relative;
}

.header .container .cart_check span {
  display: inline-block;
  position: absolute;
  color: #FFFFFF;
  height: 19px;
  width: 19px;
  background-color: #F16D7F;
  border-radius: 50%;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  right: -8px;
  top: -19px;
}

/* Content */
/* Styles for Brand Block */
.brand_block {
  position: relative;
}

.brand_block .brand_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 764px;
  width: 100%;
  color: #222222;
}

@media (max-width: 767px) {
  .brand_block .brand_wrap {
    min-height: 343px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1599px) {
  .brand_block .brand_wrap {
    min-height: 367.57px;
  }
}

.brand_block .brand_wrap > div {
  width: 50%;
}

.brand_block .brand_cover_pic {
  width: 100%;
  display: block;
}

.brand_block .brand_block_left {
  min-height: inherit;
  /* width: 50%;  - указан через родителя*/
}

@media (max-width: 767px) {
  .brand_block .brand_block_left {
    display: none;
  }
}

.brand_block .brand_block_right {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: 50%  - указан через родителя*/
}

@media (max-width: 767px) {
  .brand_block .brand_block_right {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: inherit;
  }
}

.brand_block .brand_logo {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-left: 64px;
  height: 93.1px;
}

@media (max-width: 767px) {
  .brand_block .brand_logo {
    margin: 0 auto;
    height: 66px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .brand_block .brand_logo {
    margin-left: 41px;
    height: 78px;
  }
}

.brand_block .brand_logo div:first-child {
  font-size: 48px;
  line-height: 44px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .brand_block .brand_logo div:first-child {
    font-size: 38px;
    line-height: 31px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .brand_block .brand_logo div:first-child {
    font-size: 44px;
    line-height: 39px;
    font-weight: 700;
  }
}

.brand_block .brand_logo div:last-child {
  font-weight: 700;
  font-size: 32px;
  line-height: 62px;
}

@media (max-width: 767px) {
  .brand_block .brand_logo div:last-child {
    font-size: 20px;
    line-height: 48px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .brand_block .brand_logo div:last-child {
    font-size: 24px;
    line-height: 53px;
  }
}

.brand_block .brand_logo span {
  color: #F16D7F;
}

/* Гамбургер-меню */
.brand_overlay {
  /*Затемнение блока Brand при вызове меню*/
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.menu {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  height: inherit;
  margin-left: auto;
  padding: 37px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  overflow: auto;
  z-index: 1;
  right: 0;
  max-height: 90vh;
}

@media (max-width: 767px) {
  .menu {
    height: 100vh;
  }
}

@media (max-width: 374px) {
  .menu {
    width: 70%;
    z-index: 1;
  }
}

.menu .cancel_menu {
  position: absolute;
  right: 16px;
  top: 16px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu .cancel_menu:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.menu .menu_heading {
  font-weight: 700;
  margin-bottom: 24px;
}

.menu .menu_group {
  padding-bottom: 20px;
}

.menu .menu_group ul > li {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.menu .menu_group ul > li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  scroll-behavior: smooth;
  text-indent: 5px;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.menu .menu_items_title {
  color: #F16D7F;
}

.menu .menu_items {
  list-style-type: none;
  padding-left: 21px;
}

.menu .menu_items a {
  text-decoration: none;
  color: #6F6E6E;
  line-height: 30px;
}

/*Блок предложений Offers */
.offers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 260px 180px;
      grid-template-rows: 260px 180px;
  row-gap: 32px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-top: 64px;
}

@media (max-width: 550px) {
  .offers {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (247px)[3] 111px;
        grid-template-rows: repeat(3, 247px) 111px;
  }
}

@media (min-width: 550px) and (max-width: 1200px) {
  .offers {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: minmax(167px, 260px) minmax(116px, 180px);
        grid-template-rows: minmax(167px, 260px) minmax(116px, 180px);
    gap: 20px;
  }
}

.offers > div {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: relative;
}

.offers > div:hover {
  -webkit-transform: scale(1.05) translateY(3px);
          transform: scale(1.05) translateY(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.offers .heading_offers {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers .heading_line1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.offers .heading_line2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.offer_pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 767px) {
  .offer_pic {
    width: 100%;
  }
}

.offer_accessories {
  grid-column: 1/-1;
}

.long_pic {
  padding-bottom: 0;
  min-height: 111px;
}

/* Стили для блока Featured Items */
.featuredItems {
  margin-top: 96px;
}

@media (max-width: 500px) {
  .featuredItems {
    margin-top: 64px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .featuredItems {
    margin-top: 154px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.featuredItems .featuredItems__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 6px;
  text-align: center;
}

@media (max-width: 1599px) {
  .featuredItems .featuredItems__heading {
    margin-bottom: 3.3px;
  }
}

.featuredItems .featuredItems__text {
  text-align: center;
  color: #9F9F9F;
}

.capsules_positioning {
  margin-top: 48px;
}

@media (max-width: 500px) {
  .capsules_positioning {
    margin-top: 64.7px;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .capsules_positioning {
    margin-top: 73px;
  }
}

.capsules {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* Кнопка  корзины при наведении на товар */
  /* Конец кнопки */
}

@media (max-width: 500px) {
  .capsules {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 16px;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .capsules {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 16px;
            column-gap: 16px;
    row-gap: 18px;
  }
}

.capsules .capsule:hover .capsule_pic_dark_overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.capsules .capsule_pic {
  width: 100%;
  position: relative;
  display: block;
}

.capsules .capsule_pic_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.capsules .capsule_pic_wrap .capsule_pic_dark_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.capsules .capsule_description {
  padding: 24px 16px 20px;
  text-align: left;
  background: #F8F8F8;
}

.capsules .capsule_description .capsule_title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.capsules .capsule_description .capsule_text {
  color: #5D5D5D;
  padding-top: 12.65px;
  padding-bottom: 18px;
  font-weight: 300;
}

.capsules .capsule_description .capsule_price {
  color: #F16D7F;
}

.browseButton_positioning {
  margin-top: 48px;
  margin-bottom: 95px;
}

@media (min-width: 500px) and (max-width: 1200px) {
  .browseButton_positioning {
    margin-bottom: 64px;
  }
}

/* Styles for Advantages block */
.advantages_block {
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}

@media (max-width: 500px) {
  .advantages_block {
    padding-top: 48px;
    padding-bottom: 81px;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .advantages_block {
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

.advantages_block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 500px) {
  .advantages_block .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .advantages_block .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages_block .container .advantage_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .advantages_block .container .advantage_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .advantages_block .container .advantage_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages_block .container .advantage_wrap .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
}

@media (max-width: 500px) {
  .advantages_block .container .advantage_wrap .advantage {
    width: 100%;
    padding-bottom: 47px;
    max-width: 348px;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .advantages_block .container .advantage_wrap .advantage {
    padding-bottom: 48px;
  }
}

.advantages_block .container .advantage_wrap .advantage img {
  height: 33px;
  width: 33px;
}

.advantages_block .container .advantage_wrap .adv_title {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 20px;
  margin-bottom: 15px;
}

@media (max-width: 500px) {
  .advantages_block .container .advantage_wrap .adv_title {
    margin-top: 27px;
    margin-bottom: 15px;
  }
}

.advantages_block .container .advantage_wrap .adv_text {
  font-weight: 300;
  text-align: center;
  color: #FBFBFB;
}

/* Styles for Subscribe block */
.subscribe_block {
  background: url(../img/subscribe_bg.jpg) no-repeat;
  background-size: cover;
}

.subscribe_block .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 96px;
  padding-bottom: 126px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 500px) {
  .subscribe_block .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 64px;
    padding-bottom: 140px;
  }
}

@media (min-width: 500px) and (max-width: 1100px) {
  .subscribe_block .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 614px;
    padding-top: 64px;
    padding-bottom: 110px;
  }
}

.subscribe_block .subscribe_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 360px;
}

@media (max-width: 500px) {
  .subscribe_block .subscribe_left {
    padding-bottom: 48px;
    max-width: 343px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .subscribe_block .subscribe_left {
    margin-bottom: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscribe_block .subscribe_text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 330px;
}

@media (max-width: 500px) {
  .subscribe_block .subscribe_text {
    font-size: 18px;
    line-height: 22px;
  }
}

.subscribe_block .subscribe_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222224;
  max-width: 356px;
}

.subscribe_block .subscrible_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 32px;
}

@media (max-width: 500px) {
  .subscribe_block .subscrible_title {
    margin-bottom: 22px;
    max-width: 271px;
  }
}

@media (min-width: 500px) and (max-width: 1200px) {
  .subscribe_block .subscrible_title {
    margin-bottom: 22px;
  }
}

.subscribe_block .subscrible_title span {
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}

.subscribe_block .subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 500px) {
  .subscribe_block .subscribe_form {
    height: 46.94px;
  }
}

.subscribe_block .input_email {
  height: inherit;
  padding: 6px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E1E1E1;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  font-family: inherit;
  border: none;
  width: 256px;
}

@media (max-width: 500px) {
  .subscribe_block .input_email {
    width: 75%;
  }
}

/* Footer */
.footer {
  background-color: #222224;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 500px) {
  .footer .container {
    height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 43px;
    padding-bottom: 10px;
  }
}

.footer .container .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
}

@media (max-width: 500px) {
  .footer .container .social_media {
    margin-bottom: 40px;
  }
}

.footer .container .social_media > a {
  width: 32px;
  height: 32px;
  color: black;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.footer .container .social_media > a:hover {
  background: #F16D7F;
  color: #FFFFFF;
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer .container .social_media > a:not(:last-child) {
  margin-right: 7px;
}

.footer .container .copyright {
  color: #FBFBFB;
}

@media (max-width: 500px) {
  .footer .container .copyright {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* Catalog page*/
.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav {
  background: #F8F3F4;
}

.nav .pageTitle {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 500px) {
  .nav .pageTitle {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

.nav .nav_right {
  font-weight: 300;
  color: #636363;
}

@media (max-width: 500px) {
  .nav .nav_right {
    padding-bottom: 46px;
  }
}

.nav .nav_right a {
  text-decoration: none;
  color: #636363;
}

.nav .nav_right a.active {
  color: #F16D7F;
}

.filter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 51px;
  padding-bottom: 64px;
}

@media (max-width: 767px) {
  .filter .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.filter .container .filterLeft, .filter .container .filter_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 320px;
  height: 17px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .filter .container .filterLeft, .filter .container .filter_icon {
    height: 25px;
    padding-right: 61px;
  }
}

.filter .container .filterLeft__text {
  padding-right: 11px;
}

.filter .container .filterLeft__text:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 500px) {
  .filter .container .filterLeft__text {
    display: none;
  }
}

@media (max-width: 500px) {
  .filter .container .filterLeft__bars {
    height: inherit;
  }
}

.filter .container .filterLeft__bars:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.filter .container .filterLeft__menu {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 360px;
  padding: 16px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  position: absolute;
  z-index: 1;
  top: -12px;
}

@media (max-width: 500px) {
  .filter .container .filterLeft__menu {
    width: 300px;
  }
}

.filter .container .filterLeft__menu ul > li {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.filter .container .filterLeft__menu ul > li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  scroll-behavior: smooth;
  text-indent: 11px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.filter .container .filterLeft__menu .filter_categories {
  padding-top: 16px;
}

.filter .container .filterLeft__menu .filter_category_title {
  color: #EF5B70;
  border-left: 5px solid #F16D7F;
  padding-left: 16px;
  height: 37px;
  line-height: 36px;
  border-bottom: 1px solid #EBEBEB;
}

.filter .container .filterLeft__menu .filter_category_title:last-child {
  margin-top: 18.5px;
}

.filter .container .filterLeft__menu .filter_category_items {
  list-style-type: none;
  padding: 17px 24px;
  margin-top: initial;
}

.filter .container .filterLeft__menu .filter_category_items a {
  text-decoration: none;
  color: #6F6E6E;
  line-height: 30px;
}

.filter .container .filter_icon {
  color: #EF5B70;
}

.filter .container .filterRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6F6E6E;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 374px) {
  .filter .container .filterRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.filter .container .filterRight__filterParameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter .container .filterRight__filterParameters > img {
  padding-left: 9px;
}

.filter .container .filterRight__filterParameters:not(:last-child) {
  padding-right: 28px;
}

@media (max-width: 374px) {
  .filter .container .filterRight__filterParameters:not(:last-child) {
    padding-right: 0;
    padding-bottom: 6px;
  }
}

.filter .container .sizeCheckboxFilter {
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  padding: 9.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 1;
  margin-left: -9px;
  margin-top: 27px;
}

.filter .container .sizeCheckboxFilter .checkbox {
  line-height: 24px;
}

.filter .container .sizeCheckboxFilter li {
  list-style-type: none;
}

.filter .container .filterRight__filterParameters:hover {
  font-size: 14.5px;
}

.paginator {
  width: 284px;
  height: 44px;
  border: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  margin-bottom: 64px;
}

@media (min-width: 1600px) {
  .paginator {
    margin-bottom: 96px;
  }
}

.paginator_positioning {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.paginator a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.paginator a.active {
  color: #EF5B70;
}

.slider {
  background: #F7F7F7;
  min-height: 623px;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  position: relative;
}

@media (min-width: 1600px) {
  .slider {
    min-height: 776px;
  }
}

.slider .slider__pic {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 85px auto;
  display: block;
}

@media (min-width: 768px) {
  .slider .slider__pic {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .slider .slider__pic {
    margin-top: 11px;
    margin-bottom: 42px;
  }
}

.slider .sliderArrowsLeft,
.slider .sliderArrowsRight {
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 47px / 2);
  cursor: pointer;
}

.slider .sliderArrowsLeft {
  left: 0;
  background-image: url(../img/product/arrow_left.svg);
}

.slider .sliderArrowsLeft:hover {
  background-image: url(../img/product/arrow_left_pink.svg);
}

.slider .sliderArrowsRight {
  right: 0;
  background-image: url(../img/product/arrow_right.svg);
}

.slider .sliderArrowsRight:hover {
  background-image: url(../img/product/arrow_forward_pink.svg);
}

.collectionDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 65px;
  padding-bottom: 65px;
  border: 1px solid #EAEAEA;
}

@media (min-width: 1600px) {
  .collectionDetails_positioning {
    margin-top: -63px;
    background: white;
    position: relative;
  }
}

.collectionDetails__heading {
  font-weight: 300;
  color: #F16D7F;
}

.collectionDetails__divider_pink {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin-top: 12px;
  margin-bottom: 12px;
  border: none;
}

.collectionDetails__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.collectionDetails__text {
  font-weight: 300;
  color: #5E5E5E;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  max-width: 326px;
}

@media (min-width: 640px) {
  .collectionDetails__text {
    max-width: 555px;
  }
}

.collectionDetails__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #EF5B70;
}

.collectionDetails__divider_grey {
  height: 1px;
  width: 175px;
  background-color: #EAEAEA;
  margin-top: 32px;
  margin-bottom: 49px;
  border: none;
}

@media (min-width: 768px) {
  .collectionDetails__divider_grey {
    width: 642px;
    margin-top: 65px;
    margin-bottom: 65px;
  }
}

.collectionDetails__filter {
  color: #6F6E6E;
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 304px;
}

@media (min-width: 768px) {
  .collectionDetails__filter {
    max-width: 373px;
    font-size: 14px;
    line-height: 17px;
  }
}

.collectionDetails__filter img {
  margin-left: 3px;
}

@media (min-width: 375px) {
  .collectionDetails__filter img {
    margin-left: 9px;
  }
}

.collectionDetails__buyButton {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.newArrivals {
  margin-top: 64px;
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .newArrivals {
    margin-top: 129px;
    margin-bottom: 128px;
  }
}

.newArrivals .capsule:first-child {
  display: none;
}

@media (min-width: 768px) {
  .newArrivals .capsule:first-child {
    display: block;
  }
}

@media (min-width: 768px) {
  .newArrivals .capsule:last-child {
    display: none;
  }
}

@media (min-width: 1200px) {
  .newArrivals .capsule:last-child {
    display: block;
  }
}

.pageTitleBlock {
  background: #F8F3F4;
}

.pageTitleBlock .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .pageTitleBlock .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.pageTitleBlock .pageTitle {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-top: 50px;
  margin-bottom: 69px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 9px;
  padding-right: 8px;
  margin-top: 39px;
  margin-bottom: 96px;
}

@media (min-width: 768px) {
  .cart {
    padding-left: 16px;
    padding-right: 18px;
    margin-top: 59px;
    margin-bottom: 128px;
  }
}

@media (min-width: 1200px) {
  .cart {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    margin-top: 96px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .cart .cartContent {
    margin-left: auto;
    margin-right: auto;
  }
}

.cart .cartContent .b-cartProduct {
  -webkit-box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
          box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
  min-width: 290px;
  height: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cart .cartContent .b-cartProduct:not(:last-child) {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .cart .cartContent .b-cartProduct:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .cart .cartContent .b-cartProduct {
    width: 734px;
    height: 306px;
  }
}

@media (min-width: 1200px) {
  .cart .cartContent .b-cartProduct {
    width: 652px;
  }
}

.cart .cartContent .b-cartProduct img {
  height: 100%;
}

.cart .cartContent .b-cartProduct .b-cartProduct__info {
  padding: 13px 17px;
  font-size: 14px;
  line-height: 22px;
  color: #575757;
  width: 100%;
}

@media (min-width: 768px) {
  .cart .cartContent .b-cartProduct .b-cartProduct__info {
    font-size: 22px;
    line-height: 35px;
    padding: 22px 31px;
  }
}

.cart .cartContent .b-cartProduct .b-cartProduct__info_title {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0 40px 25px 0;
  max-width: 262px;
}

@media (max-width: 374px) {
  .cart .cartContent .b-cartProduct .b-cartProduct__info_title {
    margin: 0 10px 16px 0;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (min-width: 768px) {
  .cart .cartContent .b-cartProduct .b-cartProduct__info_title {
    margin: 0 0 42px 0;
    font-size: 24px;
    line-height: 29px;
  }
}

.cart .cartContent .b-cartProduct .b-cartProduct__info_price span {
  color: #F16D7F;
}

.cart .cartContent .b-cartProduct .b-cartProduct__info_qtyInput {
  width: 24px;
  height: 15px;
  text-align: center;
  margin-left: 15px;
  border: 1px solid #EAEAEA;
  font-family: inherit;
  font-size: inherit;
}

@media (min-width: 768px) {
  .cart .cartContent .b-cartProduct .b-cartProduct__info_qtyInput {
    margin-left: 25px;
    width: 45px;
    height: 25px;
  }
}

.cart .cartContent .b-cartProduct .b-cartProduct__deleteIcon {
  position: absolute;
  height: 11px;
  width: 11px;
  top: 17px;
  right: 12px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media (min-width: 768px) {
  .cart .cartContent .b-cartProduct .b-cartProduct__deleteIcon {
    height: 18px;
    width: 18px;
    top: 28px;
    right: 24px;
  }
}

.cart .cartContent .b-cartProduct .b-cartProduct__deleteIcon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.cart .actionButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 508px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 768px) {
  .cart .actionButtons {
    padding-left: 0;
    padding-right: 0;
  }
}

.cart .actionButtons__clearCartButton {
  padding: 9px 18px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #575757;
  border: 1px solid #A4A4A4;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  min-height: 33px;
  min-width: 148px;
}

.cart .actionButtons__clearCartButton:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

@media (min-width: 768px) {
  .cart .actionButtons__clearCartButton {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
  }
}

.cart .actionButtons__continueShoppingButton {
  padding: 9px 18px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #575757;
  border: 1px solid #A4A4A4;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 9px;
  min-height: 33px;
  min-width: 148px;
}

.cart .actionButtons__continueShoppingButton:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

@media (min-width: 768px) {
  .cart .actionButtons__continueShoppingButton {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    margin-left: 48px;
  }
}

.cart .cartCheckout {
  width: 100%;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .cart .cartCheckout {
    max-width: 734px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
  }
}

@media (min-width: 1200px) {
  .cart .cartCheckout {
    margin-left: 128px;
    width: 360px;
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .cart .cartCheckout > div {
    width: 50%;
  }
}

.cart .cartCheckout .shippingForm {
  /* При установке курсора в поле ввода, оно сразу получает 
страную рамку, каждый раз разного цвета. 
То же происходит и при нажатии на кнопки. 
Как можно избавиться от нее? */
}

.cart .cartCheckout .shippingForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart .cartCheckout .shippingForm__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: left;
  margin-bottom: 20px;
}

.cart .cartCheckout .shippingForm input {
  border: 1px solid #A4A4A4;
  height: 45px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: #222222;
  margin-bottom: 20px;
  font-family: inherit;
}

.cart .cartCheckout .shippingForm input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.cart .cartCheckout .shippingForm input:-ms-input-placeholder {
  color: #B1B1B1;
}

.cart .cartCheckout .shippingForm input::-ms-input-placeholder {
  color: #B1B1B1;
}

.cart .cartCheckout .shippingForm input::placeholder {
  color: #B1B1B1;
}

.cart .cartCheckout .shippingForm:last-child {
  margin-bottom: 23px;
}

.cart .b-checkout {
  background: #F5F3F3;
  height: 214px;
  max-width: 360px;
  padding: 39px 44px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 48px;
  text-align: right;
}

@media (min-width: 768px) {
  .cart .b-checkout {
    margin-left: 15px;
    margin-top: 39px;
  }
}

@media (min-width: 1200px) {
  .cart .b-checkout {
    margin-left: 0;
    margin-top: 57px;
  }
}

.cart .b-checkout__subtotal {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
  margin-right: 11px;
}

.cart .b-checkout__subtotal span {
  margin-left: 26px;
}

.cart .b-checkout__total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 21px;
  color: #222222;
}

.cart .b-checkout__total span {
  font-weight: 700;
  color: #F16D7F;
  margin-left: 23px;
}

.cart .b-checkout__divider {
  max-width: 275px;
  background: #E2E2E2;
  border: none;
  margin-bottom: 17px;
  height: 1px;
}
/*# sourceMappingURL=style.css.map */